{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    <div class="homepage-content">
      <p> A missão desse portal é democratizar o acesso a informação relacionada a eBPF, uma tecnologia que está revolucionando diversos aspectos relacionados a infraestrutura, redes, segurança, observabilidade e muitos outros. Aqui você encontrará
      conteúdo em português indo de traduções a estudos de caso brasileiros relacionados a essa tecnologia.</p>

      <h2>O que é eBPF em poucas palavras</h2>

      <p> 
        Imagine um dispositivo programável que tenha seus "sensores", registradores, memória, etc. Você pode enviar código para controlar como ele vai se comportar, como por exemplo, o que ele irá ler, e o que ele irá reportar. Mas esse dispositivo é uma máquina virtual (com seu set de instruções, compilador, e tudo mais) rodando dentro do kernel.
      </p>
      <p>
        Dessa forma temos agora uma forma de deixar o kernel programável, e ter novas ferramentas para interagir com ele, sem ter que escrever novos custom kernel modules, ou esperar algo ser mergido no kernel. Essa flexibilidade, e a infinidade de possibilidades que isso provê são alguns dos fatores que estão deixando eBPF cada vez mais popular.
      </p>

    </div>
  </main>
{{ end }}
